<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${title}</title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>${title}</h1>
    <form action="/users/${action}" method="post">
        <input type="hidden" name="user_id" value="${user_id}">
        <table>
            <tr>
                <th>First name</th>
                <td><input type="text" name="first_name" value="${first_name}"></td>
            </tr>
            <tr>
                <th>Last name</th>
                <td><input type="text" name="last_name" value="${last_name}"></td>
            </tr>
            <tr>
                <th>Salary</th>
                <td><input type="text" name="salary" value="${salary}"></td>
            </tr>
        </table>
        <input type="submit" value="${button_value}">
    </form>
    <br><br>
    <a href="/users">Show all users</a>
</body>
</html>